.elements{
    max-width: 880px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 17px;
}
@media screen and (max-width: 914px){
    .elements{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (max-width: 650px){
    .elements{
        grid-template-columns: 1fr;
    }
}