.profile__avatar{
    width: 120px;
    height: 120px;
    background-image: url(../../../images/user_photo.jpg);
    background-repeat: no-repeat;
    border-radius: 60px;
    margin: 3.75px 26.5px 3.75px 22.5px;
}